<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=yes ">


<head><title>Automatic Mode</title></head>

<body>
<style>


body{


	background-image: url("background.jpg");
	background-repeat:no-repeat;
	background-size:cover;
}


.header {
  font-family: Comic Sans MS;
  padding: 20px;
  padding: 20px 10px;
  text-align: center;
  
  color: black;
  font-size: 20px;
}





</style>


<script type="text/javascript">
	
var Timer;

	/*function name()
		{
			var Timer;
			var input = document.getElemnetById("Timer");
			alert(input);
		}*/

	var input = window.prompt(" Enter the Timer in Minutes : ");
	alert(" Your Time is " + input ); 

/*  var input = window.prompt("Enter your Time: ");
	alert("input")	*/


</script>



</body>


<div class="header">
  <h1>AUTOMATIC MODE</h1>
</div>




</body>
</html>